	<ul class="nav nav-pills">
		<li id="home_link">
      <a href="{{ "/" | prepend: site.baseurl}}"
        >Home</a>
    </li>
		<li id="home_link">
      <a href="{{ "/" | prepend: site.baseurl}}"
        >Schedule</a>
    </li>
		<li id="home_link">
      <a href="{{ "/" | prepend: site.baseurl}}"
        >Participants</a>
    </li>
		<li id="home_link">
      <a href="{{ "/" | prepend: site.baseurl}}"
        >Logistics</a>
    </li>
		<li id="home_link">
      <a href="{{ "/" | prepend: site.baseurl}}"
        >Registration</a>
    </li>
	</ul>

